.merch-bg
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/merch-photo.jpg') center center no-repeat
	background-size: cover

.merch
	p
		font-size: 15px

	.row
		flex-wrap: wrap

		.cell
			flex: initial
			max-width: 450px
			align-items: center
			padding: 0 30px 100px 30px

			@media only screen and (max-device-width: $iphone)
				padding: 0 0 50px 0

			h3.name
				color: #fff
				font-size: 11px
				margin-top: 20px
				margin-bottom: 5px

				@media only screen and (max-device-width: $iphone)
					font-size: 12px !important

			.price
				color: $silver
				font-size: 12px

			img
				width: 100%
