.shows
	img.poster
		border: $line
		width: 100%
		max-width: 250px

	.table .row .cell
		text-align: left
		padding: 0 30px

		@media only screen and (max-device-width: $iphone)
			text-align: center
			padding: 0
			display: initial

	.table .row .cell:first-child
		align-items: flex-end

	.row
		margin-bottom: 60px

	.cell p:last-child
		margin-top: 30px

	// .cell p:first-child
	// // font-size: 30px

	@media only screen and (max-device-width: $iphone)
		.cell + .cell
			margin-top: 30px
