extends structure/_layout.pug

block content
	.body-wrapper
		section.about.padding-top
			.global-width
				h1 About
				.module.about
					.table
						.row
							.cell
								h2 James
								h3 Vocals
							.cell
								img(src="/images/james.jpg")
						.row
							.cell
								h2 Keith
								h3 Guitar, Bass
							.cell
								img(src="/images/keith.jpg")

						.row
							.cell
								h2 Trevor
								h3 Drums
							.cell
								img(src="/images/trevor.jpg")

					img(src="/images/18v-3.jpg")
					img(src="/images/18v-4.jpg")
					img(src="/images/18v-5.jpg")
					img(src="/images/18v-1.jpg")
					img(src="/images/18v-2.jpg")
