extends structure/_layout.pug

block content
	.body-wrapper
	
		section.news.news-bg.padding-top
			.global-width
				h1.huge XVIII
				//- img.title-xviii(src="/images/XVIII-brush.svg")
				.vinyl.margin-bottom
					img(src="/images/vinyl.png")
				a.button.large.gold.margin-bottom(href="http://eighteenvisions.merchnow.com", target="_blank") available now
				p New album "XVIII" is now available! Produced, mixed and mastered by the incredible Mick Kenney at The Barracks in Huntington Beach, Ca.

		// oath video
		section.video-bg
			.global-width.video
				h1.huge Media

				.margin-bottom-double
					p.margin-bottom Watch "Live Again" from the new album "XVIII" directed by Michael Garcia.
					.video-wrapper
						iframe(src="https://www.youtube.com/embed/pQpQaVzFAa4", frameborder="0", allowfullscreen)

				.margin-bottom-double
					p.margin-bottom Watch "Oath" from the new album "XVIII" directed by Michael Garcia.
					.video-wrapper
						iframe(src="https://www.youtube.com/embed/WBmjprLSjRU", frameborder="0", allowfullscreen)

				.margin-bottom-double
					p.margin-bottom Listen to "Crucified" from the new album "XVIII".
					.video-wrapper
						iframe(src="https://www.youtube.com/embed/9zCh0kxrbEs", frameborder="0", allowfullscreen)

				p.margin-bottom Listen to "The Disease, The Decline, and Wasted Time" from the new album "XVIII".
				.video-wrapper
					iframe(src="https://www.youtube.com/embed/oFDy4tPbepE", frameborder="0", allowfullscreen)

			//- a.button.view-all.small(href="videos.html") view all videos

		// shows
		section.shows
			include bits/_shows.pug
			//- a.button.view-all.small(href="shows.html") view all shows

		// merch
		section.merch.merch-bg
			img.title-merch(src="/images/merch.svg")
			.table
				.row
					include bits/_merch-top.pug
			a.button.view-all.small(href="merch.html") view all merch
