extends structure/_layout.pug

block content
	.body-wrapper
		section.merch.padding-top
			img.title-merch(src="/images/merch.svg")
			.table
				.row
					include bits/_merch-top.pug
			
					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/windbreaker-nail-black.jpg")
						h3.name splatter windbreaker black
						p.price $19.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/windbreaker-nail-camo.jpg")
						h3.name splatter windbreaker gold
						p.price $19.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/longsleeve-psychotic-black.jpg")
						h3.name psychotic longsleeve
						p.price $19.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/longsleeve-oath-black.jpg")
						h3.name oath longsleeve 
						p.price $19.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/hat-splatter-white.jpg")
						h3.name splatter hat white
						p.price $19.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/hat-splatter-black.jpg")
						h3.name splatter hat black
						p.price $19.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/tshirt-nail-silver.jpg")
						h3.name splatter t-shirt silver
						p.price $19.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/tshirt-nail-gold.jpg")
						h3.name splatter t-shirt gold
						p.price $19.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/hoodie-nail-silver.jpg")
						h3.name splatter hoodie
						p.price $39.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/hoodie-nail-gold.jpg")
						h3.name splatter hoodie
						p.price $39.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/hoodie-XVIII-silver.jpg")
						h3.name XVIII hoodie silver
						p.price $19.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/hoodie-XVIII-gold.jpg")
						h3.name XVIII hoodie gold
						p.price $19.99
						.button.small.gold-outline.merch-button Buy Now

					a.cell(href="http://eighteenvisions.merchconnection.com" target="_blank")
						img(src="/images/polo-nail-black.jpg")
						h3.name nail polo
						p.price $19.99
						.button.small.gold-outline.merch-button Buy Now
