extends structure/_layout.pug
block content
	.body-wrapper
		section.news.padding-top
			.global-width
				h1 news
				
				article
					h1 4.20.17
					.vinyl
						img(src="/images/vinyl.png")
					p.margin-bottom The new album "XVIII" will be availble on June 2nd, 2017 and is now available for preorder! Purchase a ticket for the June 2nd Record Release Show at The Observatory in Orange County, Ca and receive a free digital download.
					a.button.large.gold(href="https://eighteenvisions.merchnow.com", target="_blank") pre-order the album
