.footer-wrapper
	a(href="http://instagram.com/18v_official", target="_blank").social
		img(src="/images/instagram.svg")
	a(href="http://twitter.com/18v_official", target="_blank").social
		img(src="/images/twitter.svg")
