.header-wrapper
	a.logo(href="/")
		img(src="/images/logo-splatter-gold.svg")
	ul
		li
			a(href="index.html") Home
		li
			a(href="merch.html") Merch
		li
			a(href="shows.html") Shows
		li
			a(href="about.html") About

	//- iframe(src="https://open.spotify.com/follow/1/?uri=spotify:artist:1KcePrJuVbBv9SyqCEpdPb&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true")
