.header-wrapper
	a.logo(href="index.html")
		img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/logo-splatter-white.svg")
	ul
		li
			a(href="index.html") Home
		//- li
			a(href="news.html") News
		//- li
			a(href="shows.html") Shows
		li
			a(href="merch.html") Merch
		//- li
			a(href="about.html") About
		li
			a(href="https://www.instagram.com/18v_official/", target="_blank") Instagram
