a.cell(href="http://eighteenvisions.merchnow.com" target="_blank")
	img(src="/images/XVIII-vinyl.jpg")
	h3.name xviii Vinyl
	p.price $19.99
	.button.small.gold-outline.merch-button Buy Now

a.cell(href="http://18vmerch.com/shop/view_product/BEES___DARK_GREY_ON_BLACK?ctype=0&n=9086673&o=0" target="_blank")
	img(src="/images/tshirt-bees.jpg")
	h3.name Bees
	p.price $19.99
	.button.small.gold-outline.merch-button Buy Now

a.cell(href="http://18vmerch.com/shop/view_product/SPLATTER___NAIL___WHITE_ON_BLACK?ctype=0&n=9007563&o=0" target="_blank")
	img(src="/images/tshirt-nail-white.jpg")
	h3.name splatter T-Shirt white
	p.price $19.99
	.button.small.gold-outline.merch-button Buy Now
