.global-width
	h1.huge Shows

	.shows
		.table
			.row
				.cell
					img.poster(src='/images/show-playingwithfire.jpg')

				.cell
					p October 7th, 2017
					p Fort Worth, TX
					p Rail Club
					p
						a.button.large.gold(href="https://prekindle.com/promo/id/24898849191509267", target="_blank") Buy Tickets
			.row
				.cell
					img.poster(src='/images/show-houston.jpg')

				.cell
					p October 8th, 2017
					p Houston, TX
					p Scout Bar
					p
						a.button.large.gold(href="https://prekindle.com/promo/id/24898849198127128", target="_blank") Buy Tickets

			.row
				.cell
					img.poster(src='/images/show-knotfest.jpg')

				.cell
					p November 5th, 2017
					p San Bernadino, CA
					p Glen Helen Amphitheater
					p
						a.button.large.gold(href="https://concerts1.livenation.com/event/090052E7D4F8517F?tm_link=artist_msg-0_090052E7D4F8517F&crosssite=TM_US:821241:73734&_ga=2.21852283.1556597150.1500925631-1363877815.1494353856", target="_blank") Buy Tickets
			.row
				.cell
					img.poster(src='/images/show-UK.jpg')

				.cell
					p November 9th, 2017
					p London, UK
					p Underworld
					p
						a.button.large.gold(href="http://www.seetickets.com/event/eighteen-visions/the-underworld-camden/1118479", target="_blank") Buy Tickets
			.row
				.cell
					img.poster(src='/images/show-UK.jpg')

				.cell
					p November 10th, 2017
					p Glasgow, UK
					p Cathouse
					p
						a.button.large.gold(href="http://www.ticketmaster.co.uk/eighteen-visions-glasgow-10-11-2017/event/360052D4A86D34D6?bba=1", target="_blank") Buy Tickets
			.row
				.cell
					img.poster(src='/images/show-UK.jpg')

				.cell
					p November 11th, 2017
					p Manchester, UK
					p Sound Control
					p
						a.button.large.gold(href="http://www.seetickets.com/event/eighteen-visions/sound-control/1116058", target="_blank") Buy Tickets
			.row
				.cell
					img.poster(src='/images/show-vanna.jpg')

				.cell
					p December 15th, 2017
					p Worcester, MA
					p Palladium
					p
						a.button.large.gold(href="https://www.ticketfly.com/purchase/event/1524092", target="_blank") Buy Tickets
