extends structure/_layout.pug

block content
	.body-wrapper
		section.about
			.global-width
				h1 About
				.module.about
					.table
						.row
							.cell
								img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/james.jpg")
							.cell
								h2 James
								h3 Vocals
								p Anim mus ridiculus, voluptates ullam dolorem phasellus praesentium repudiandae duis quo voluptatibus, nam massa nullam! Ad odio cumque? Adipisci saepe voluptas cumque delectus nibh, phasellus varius scelerisque, itaque maxime soluta.
						.row
							.cell
								img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/trevor.jpg")
							.cell
								h2 Trevor
								h3 Drums
								p Anim mus ridiculus, voluptates ullam dolorem phasellus praesentium repudiandae duis quo voluptatibus, nam massa nullam! Ad odio cumque? Adipisci saepe voluptas cumque delectus nibh, phasellus varius scelerisque, itaque maxime soluta.
						.row
							.cell
								img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/keith.jpg")
							.cell
								h2 Keith
								h3 Guitar, Bass
								p Anim mus ridiculus, voluptates ullam dolorem phasellus praesentium repudiandae duis quo voluptatibus, nam massa nullam! Ad odio cumque? Adipisci saepe voluptas cumque delectus nibh, phasellus varius scelerisque, itaque maxime soluta.
