extends structure/_layout.pug

block content
	.body-wrapper
	
		section.news.news-bg
			.global-width
				h1.huge XVIII
				.vinyl.margin-bottom
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/vinyl.png")
				a.button.large.gold.margin-bottom(href="http://eighteenvisions.merchnow.com", target="_blank") pre-order the album
				p New album "XVIII" will be released June 2nd, 2017 and is now available for pre-order! Produced, mixed and mastered by the incredible Mick Kenney at The Barracks in Huntington Beach, Ca.

		// oath video
		section.video
			.global-width
				h1.huge oath
				p.margin-bottom Watch "Oath" from the new album "XVIII" directed by Michael Garcia.
				.youtube-player(data-id="WBmjprLSjRU")
			//- a.button.view-all.small(href="videos.html") view all videos

		// shows
		section.shows
			include bits/_shows.pug
			//- a.button.view-all.small(href="shows.html") view all shows

		// merch
		section.merch.merch-bg
			h1 merch
			include bits/_merch-top.pug
			a.button.view-all.small(href="merch.html") view all merch
