.table
	.row
	
		.cell
			img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/XVIII-vinyl.jpg")
			h3.name "XVIII" Vinyl Pre-Order
			p.price $19.99
			a.button.small.gold-outline.merch-button(href="http://eighteenvisions.merchnow.com" target="_blank") Pre-Order Now

		.cell
			img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/tshirt-nail-white.jpg")
			h3.name Splatter T-Shirt
			p.price $19.99
			a.button.small.gold-outline.merch-button(href="http://18vmerch.com/shop/view_product/SPLATTER___NAIL___WHITE_ON_BLACK?ctype=0&n=9007563&o=0" target="_blank") Buy Now
		
		.cell
			img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/tshirt-nail-black.jpg")
			h3.name Splatter hoodie
			p.price $19.99
			a.button.small.gold-outline.merch-button(href="http://18vmerch.com/shop/view_product/SPLATTER___NAIL___BLACK_ON_BLACK_TEE?ctype=0&n=9007558&o=0" target="_blank") Buy Now

		.cell
			img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/hoodie-nail-white.jpg")
			h3.name splatter hoodie white
			p.price $39.99
			a.button.small.gold-outline.merch-button(href="http://18vmerch.com/shop/view_product/SPLATTER___NAIL___WHITE_ON_BLACK?ctype=0&n=9007578&o=0" target="_blank") Buy Now
		
		.cell
			img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/hoodie-nail-black.jpg")
			h3.name splatter hoodie black
			p.price $39.99
			a.button.small.gold-outline.merch-button(href="http://18vmerch.com/shop/view_product/SPLATTER___NAIL___BLACK_ON_BLACK?ctype=0&n=9007583&o=0" target="_blank") Buy Now
