.global-width
	h1 Shows

	.table
		.row
			.cell
				img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/45910/june-2-poster_dollhead.jpg')

			.cell
				p.margin-bottom It's been 10 years since the last time Eighteen Visions took stage. On June 2nd, 2017 they return for their first show back at The Observatory in Orange County, Ca.

				.margin-bottom
					a.button.large.gold(href='http://bit.ly/2pKix4B', target='_blank') Buy Tickets

				p Every ticket comes with a free digital download of the new album!
